<% provide(:title, 'Home') %>
<div class="jumbotron jumbotron-home">
   <div class="container">
    <h1 class="text-uppercase">Handoffs made easy</h1>
    <p class="hidden-xs">See emails exchanged with prospects turning into customers</p>
    <p class="hidden-xs">and get quickly up to speed</p>
    <p class="visible-xs">Pass on your emails to colleagues</p>
    <div class="row">
      <%= link_to "Connect your inbox", user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-hollow btn-lg' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <div class="thumbnail thumbnail-home thumbnail-red">
      <span class="glyphicon glyphicon-heart glyphicon-xl" aria-hidden="true"></span>
      <div class="caption caption-home">
        <h3>Get context</h3>
        <p>Find out which commitments were made to the customer during the sales process</p>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="thumbnail thumbnail-home thumbnail-yellow">
      <span class="glyphicon glyphicon-search glyphicon-xl" aria-hidden="true"></span>
      <div class="caption caption-home">
        <h3>Never lose anything</h3>
        <p>Every mails and attachments ever exchanged with the customer,
          synced-up in real-time</p>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="thumbnail thumbnail-home thumbnail-dark-blue">
      <span class="glyphicon glyphicon-signal glyphicon-xl" aria-hidden="true"></span>
      <div class="caption caption-home">
        <h3>Grow your business</h3>
        <p>Spot new relationships and opportunities for new sales or cross/up-sells</p>
      </div>
    </div>
  </div>
  <hr>
</div>
