<% provide(:title, 'Timeline') %>

<div class="row timeline">
    <div class="col-md-1">Date</div>
    <div class="col-md-1">Type</div>
    <div class="col-md-3">People</div>
    <div class="col-md-2">Subject</div>
    <div class="col-md-1">Type</div>
    <div class="col-md-4">Attachment</div>
</div>

<!--new email-->

<div class="row timeline">
  <div class="col-md-1">10/08/2015 - 12/08/2015</div>
  <div class="col-md-1">
    <button type="button" class="btn btn-primary" aria-label="Left Align"
    data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </button>
  </div>
  <!-- Add all recipients in thread -->
  <div class="col-md-3">
    <ul>
      <li>Bradley Gambling <small>tripadvisor</small></li>
      <li>John Costanzo <small>tripadvisor</small></li>
      <li>Michael Christofides <small>gocardless</small></li>
      <li>Isaac Seymour <small>gocardless</small></li>
      <li>Freya Hurwitz <small>tripadvisor</small></li>
    </ul>
  </div>
  <div class="col-md-2">TripAdvisor SEPA CID</div>
  <div class="col-md-1">
      <!-- Can be an application (pdf), images...-->
    <button type="button" class="btn btn-primary" aria-label="Left Align">
      <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-md-4">Screen Shot 2015-08-11 at 5.52.08 PM[5].png</div>
</div>

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">TripAdvisor SEPA CID</h4>
      </div>
      <div class="modal-body">
          <div dir=3D"ltr">Hi Brad,<div><br></div><div>We&#39;re in the process of se=
        tting up your own SEPA Creditor ID=C2=A0(Name: GC re TripAdvisor - ID: GB29=
        ZZZSDDBARC0000007495895006) at our new partner bank Barclays.=C2=A0</div><d=
        iv><br></div><div>We will also migrate existing mandates : only seven manda=
        tes have had a payment actually debited against them, so it&#39;ll be very =
        straightforward to move them across banks (pending mandates just exist in o=
        ur database until a first payment is taken).</div><div><br></div><div>We&#3=
        9;d need a support email and telephone numbers for SEPA customers to reach =
        you at in case of payment issues. What would be the right ones?</div><div><=
        br></div><div>Once set-up, you will need to change the following:</div><div=
        ><ul><li>Mandate payment page should show your new CID above</li><li>Emails=
         should show your new CID above</li></ul></div><div>All future payments wil=
        l then appear on customers&#39; bank statements with this Creditor ID. No a=
        ction is required from them or you. Isaac (cc-ed) is working on the switcho=
        ver and will let you know once it&#39;s done. Let us know if you have any q=
        uestions.</div><div><br></div><div>As a note, this will have no API or timi=
        ng impact. We will be able to offer COR1 which offers faster direct debit i=
        n Germany, Spain and Austria in the next couple of weeks. More on that very=
         soon!</div><div><br></div><div>Best,</div><div>Amaury</div><div><div><br><=
        /div>-- <br><div class=3D"gmail_signature"><div dir=3D"ltr"><div><div dir=
        =3D"ltr"><div dir=3D"ltr"><div dir=3D"ltr"><p style=3D"line-height:1.15;mar=
        gin-top:0pt;margin-bottom:0pt"><span style=3D"line-height:1.15;font-family:=
        Arial;vertical-align:baseline;white-space:pre-wrap;background-color:transpa=
        rent"><font size=3D"1" color=3D"#666666"><a href=3D"http://gocardless.fr" t=
        arget=3D"_blank">gocardless.fr</a> | <a href=3D"http://gocardless.com" targ=
        et=3D"_blank">gocardless.com</a></font></span></p><p style=3D"margin-top:0p=
        t;margin-bottom:0pt"><font color=3D"#666666" face=3D"Arial" size=3D"1"><spa=
        n style=3D"line-height:11.5px;white-space:pre-wrap">T: +33 (0) 9 75 18 85 4=
        0 | </span></font><span style=3D"line-height:1.15;color:rgb(102,102,102);fo=
        nt-size:x-small;font-family:Arial;vertical-align:baseline;white-space:pre-w=
        rap;background-color:transparent">+44=C2=A0</span><span style=3D"color:rgb(=
        102,102,102);font-family:Arial;font-size:x-small;line-height:11.5px;white-s=
        pace:pre-wrap">(0) </span><span style=3D"color:rgb(102,102,102);font-size:x=
        -small">2036 370 591</span></p><p style=3D"margin-top:0pt;margin-bottom:0pt=
        "><span style=3D"color:rgb(102,102,102);font-size:x-small">M: +33=C2=A0</sp=
        an><span style=3D"color:rgb(102,102,102);font-family:Arial;font-size:x-smal=
        l;line-height:11.5px;white-space:pre-wrap">(0)</span><span style=3D"color:r=
        gb(102,102,102);font-size:x-small">=C2=A06 71 79 50 36 | +44=C2=A0</span><s=
        pan style=3D"color:rgb(102,102,102);font-family:Arial;font-size:x-small;lin=
        e-height:11.5px;white-space:pre-wrap">(0)</span><span style=3D"color:rgb(10=
        2,102,102);font-size:x-small">=C2=A07538 648 006</span></p><p style=3D"line=
        -height:1.15;margin-top:0pt;margin-bottom:0pt"><font size=3D"1"><font color=
        =3D"#666666" style=3D"line-height:normal">Ils parlent de GoCardless:</font>=
        <span style=3D"color:rgb(136,136,136);line-height:normal">=C2=A0</span><a h=
        ref=3D"http://www.lefigaro.fr/societes/2015/04/12/20005-20150412ARTFIG00171=
        -gocardless-pret-a-bousculer-les-banques-francaises.php" style=3D"color:rgb=
        (17,85,204);line-height:normal" target=3D"_blank">Le Figaro</a><span style=
        =3D"color:rgb(136,136,136);line-height:normal">=C2=A0|=C2=A0</span><a href=
        =3D"http://www.lesechos.fr/finance-marches/banque-assurances/0213743712-le-=
        prelevement-bancaire-seduit-de-nouveaux-acteurs-1110875.php" style=3D"color=
        :rgb(17,85,204);line-height:normal" target=3D"_blank">Les Echos</a><span st=
        yle=3D"color:rgb(136,136,136);line-height:normal">=C2=A0|=C2=A0</span><a hr=
        ef=3D"http://www.challenges.fr/finance-et-marche/20150413.CHA4873/ces-start=
        -up-qui-font-valser-les-modeles-de-la-city-de-londres.html" style=3D"color:=
        rgb(17,85,204);line-height:normal" target=3D"_blank">Challenges</a><span st=
        yle=3D"color:rgb(136,136,136);line-height:normal">=C2=A0|=C2=A0</span><a hr=
        ef=3D"http://www.latribune.fr/entreprises-finance/banques-finance/gocardles=
        s-ou-quand-la-fintech-londonienne-debarque-en-france-469023.html" style=3D"=
        color:rgb(17,85,204);line-height:normal" target=3D"_blank">La Tribune</a><s=
        pan style=3D"color:rgb(136,136,136);line-height:normal">=C2=A0|=C2=A0</span=
        ><a href=3D"http://www.journaldunet.com/web-tech/start-up/fintech-gocardles=
        s-lancement-france.shtml" style=3D"color:rgb(17,85,204);line-height:normal"=
         target=3D"_blank">Journal du net</a></font><font color=3D"#666666" size=3D=
        "1"><span style=3D"line-height:normal"><br></span></font></p></div></div></=
        div></div></div></div>
        </div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--new email-->

<div class="row timeline">
  <div class="col-md-1">28/07/2015 - 29/07/2015</div>
  <div class="col-md-1">
    <button type="button" class="btn btn-primary" aria-label="Left Align">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </button>
  </div>
    <div class="col-md-3">
    <ul>
      <li>Bradley Gambling <small>tripadvisor</small></li>
      <li>Julien Balmont <small>1001menus</small></li>
      <li>Michael Christofides <small>gocardless</small></li>
    </ul>
  </div>
  <div class="col-md-2">TripAdvisor <> 1001 Menus</div>
  <div class="col-md-1"></div>
  <div class="col-md-4"></div>
</div>

<!--new email-->

<div class="row timeline">
  <div class="col-md-1">1/07/2015</div>
  <div class="col-md-1">
    <button type="button" class="btn btn-primary" aria-label="Left Align">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-md-3">
    <ul>
      <li>Bradley Gambling <small>tripadvisor</small></li>
    </ul>
  </div>
  <div class="col-md-7">Accepted: Invitation: TripAdvisor visit to GoCardless @ Wed Jul 15, 2015 10am - 11am (bgambling@tripadvisor.com)</div>
</div>

<!--new email-->

<div class="row timeline">
  <div class="col-md-1">17/07/2015 - 28/07/2015</div>
  <div class="col-md-1">
    <button type="button" class="btn btn-primary" aria-label="Left Align">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-md-3">
    <ul>
      <li>Bradley Gambling <small>tripadvisor</small></li>
      <li>John Costanzo <small>tripadvisor</small></li>
      <li>Michael Christofides <small>gocardless</small></li>
      <li>Grey Baker <small>gocardless</small></li>
      <li>Steve Domin <small>gocardless</small></li>
      <li>Duncan Coleman <small>gocardless</small></li>
    </ul>
  </div>
  <div class="col-md-2">Follow-up</div>
  <div class="col-md-1">
    <button type="button" class="btn btn-primary" aria-label="Left Align">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-md-4">telephone Dd - calling script.pdf</div>
</div>

<div class="row timeline">
  <div class="col-md-1">04/03/2015 - 08/05/2015</div>
  <div class="col-md-1">
    <button type="button" class="btn btn-primary" aria-label="Left Align">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </button>
  </div>
    <div class="col-md-3">
    <ul>
      <li>Bradley Gambling <small>tripadvisor</small></li>
      <li>John Costanzo <small>tripadvisor</small></li>
      <li>Grey Baker <small>gocardless</small></li>
      <li>Freya Hurwitz <small>tripadvisor</small></li>
      <li>Helen Taylor <small>gocardless</small></li>
      <li>Philip Harrison <small>gocardless</small></li>
    </ul>
  </div>
  <div class="col-md-2">UK Direct Debit</div>
  <div class="col-md-5"> <! Merge last two columns>
    <div class="row attachment"> <! List attachment as rows>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-9">3A469557-B093-4336-8FC3-944356C7C31D.png</div>
    </div>
    <div class="row attachment">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-9">3A469557-B093-4336-8FC3-944356C7C31D.png</div>
    </div>
    <div class="row attachment">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-9">TripAdvisor Limited UK Direct Debit Flow - 16032015.pdf</div>
    </div>
    <div class="row attachment">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-9">TripAdvisor Limited SEPA Direct Debit Flow - 12032015 (1).pdf</div>
    </div>
    <div class="row attachment">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-9">Screen Shot 2015-04-10 at 09.17.54.png</div>
    </div>
    <div class="row attachment">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-9">mandate.pdf</div>
    </div>
    <div class="row attachment">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-9">mandate.pdf</div>
    </div>
    <div class="row attachment">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-9">mandate (1).pdf</div>
    </div>
    <div class="row attachment">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-md-9">CD5A8D44-9C51-416A-8F0A-C14BE3B712A0.png</div>
    </div>
  </div>
</div>
