<h1>Access request revoked</h1>
<p>
	<%= @authorisation.granter.full_identity %> has revoked access to see a part of their Gmail inbox: "<%= @authorisation.scope %>".
</p>
<p>
	This means that you can no longer see their emails relating to that scope.
</p>
<p>
	Thanks,<br/>
	Your Passiton team
</p>
