<h1>Acces request granted</h1>
<p>
	<%= @authorisation.granter.full_identity %> has granted access to see a part of their Gmail inbox: "<%= @authorisation.scope %>".
</p>
<p>
	To see their emails, please follow this link:
	<div class="btn btn-primary"><%= link_to 'See emails', authorisation_url(@authorisation) %></div>
</p>
<p>
	Thanks,<br/>
	Your Passiton team
</p>
