<h1>Access request</h1>
<p>
	<%= @authorisation.requester.full_identity %> has requested access for a part of your Gmail inbox, to see everything that has to do with "<%= @authorisation.scope %>".
</p>
<% if !@authorisation.description.empty? %>
	<p>
		<strong>Here's why they request access:</strong><br/>
		<%= @authorisation.description %>
	</p>
<% end %>
<p>
	To grant or deny that request, please follow this link (you'll be asked to login with Gmail if you're not already using Passiton):
	<div class="btn btn-primary"><%= link_to 'Review access request', authorisation_grant_url %></div>
</p>
<p>
	Thanks,<br/>
	Your Passiton team
</p>
