<% if !@thread.nil? %>
	<div class="panel panel-white panel-tight">
		<h2><%= @thread.subject %></h2>
	</div>
		<% if @emails.nil? or @emails.empty? %>
			<div class="panel panel-white panel-tight">
				<p>Unfortunately we couldn't find emails for this thread. We have been alerted and will fix this issue shortly.</p>
			</div>
		<% else %>
			<%= render partial: 'authorisations/email', collection: @emails %>
		<% end %>
	</div>
<% end %>