<div class="row well well-granting center-block">
	<div class="col-sm-3">
		<p>
			<strong class="visible-xs-inline">Date:</strong>
			<%= delegation.created_at.strftime("%d/%m/%y") %>
		</p>
	</div>
	<div class="col-sm-3">
		<p>
			<strong class="visible-xs-inline">From:</strong>
			<%= delegation.employee.full_identity %>
		</p>
	</div>
	<div class="col-sm-3">
		<p>
			<strong class="visible-xs-inline">State:</strong>
			<%= delegation.status %>
		</p>
	</div>
	<div class="col-sm-3">
		<% if delegation.is_active %>
			<%= link_to 'Cancel', delegation_cancel_path(delegation.token), class: 'btn btn-default btn-granting pull-right' %>
		<% end %>
	</div>
</div>
