<% if !attachment.inline %>
<li>
  <% if !attachment.filename.empty?  %>
  <span class="<%= glyphicon(attachment.type) %>" aria-hidden="true"></span>
  <%= attachment.email_message.email_date.strftime("%d %b") %>
  <a href="<%= attachment_path(attachment) %>" class="attachment" aria-label="Left Align">
    - <%= attachment.filename %>
  </a>
  <% end %>
</li>
<% end %>

