<% if !attachment.inline %>
  <li>
    <% if !attachment.filename.empty?  %>
      <span class="<%= glyphicon_file(attachment.type) %>" aria-hidden="true"></span>
      <a href="<%= attachment_path(attachment) %>"><%= attachment.filename %></a>
      <%= attachment.email_date.strftime("%d %b") %>
    <% end %>
  </li>
<% end %>

