<% if !attachment.inline %>
  <li class="list-group-item">
    <% if !attachment.filename.empty?  %>
      <span class="<%= glyphicon_file(attachment.type) %>" aria-hidden="true"></span>
      <%= attachment.email_date.strftime("%d %b") %>
      - <a href="<%= attachment_path(attachment) %>"><%= attachment.filename %></a>
    <% end %>
  </li>
<% end %>

