<div class="panel panel-white">
  <div class="row">
    <div class="col-sm-4">
        <strong class="visible-xs-inline">Name:</strong>
        <%= participant.first_name %> <%= participant.last_name %>
    </div>
    <div class="col-sm-5">
        <strong class="visible-xs-inline">Email:</strong>
        <%= participant.email %>
    </div>
    <div class="col-sm-3">
        <strong class="visible-xs-inline">Company:</strong>
        <%= participant.company.titleize %>
    </div>
  </div>
</div>
