<div class="row timeline">
  <div class="col-md-1">
    <p>Date</p>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-primary" aria-label="Left Align"
    data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    </button>
  </div>
  <div class="col-md-3">
    <ul>
      <li>TBD <small>tbd</small></li>
    </ul>
  </div>
  <div class="col-md-3">
    <p>Subject</p>
  </div>
  <div class="col-md-4"> <!-- Merge last two columns-->
    <% thread.message_attachments.each do |attachment| %>
    <div class="row attachment"> <!-- List attachment as rows-->
      <div class="col-md-3">
        <%= attachment.mimeType %>
      </div>
      <div class="col-md-9">
        <%= attachment.filename %>
      </div>
    </div>
    <% end %>
  </div>
</div>

