<div class="row">
  <h1 class="page-title">Email access you requested</h1>
</div>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <%= link_to 'Ask for new access', authorisation_request_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>

<div class="row" style="margin-top:30px">
  <% if @authorisations.any? %>
  	<table class="table">
      <tr>
        <th>Date</th>
        <th>From</th>
        <th>About</th>
        <th>State</th>
        <th></th>
      </tr>
  		<%= render partial: 'authorisations/authorisation', collection: @authorisations %>
  	</table>
  <% else %>
    <p>You haven't requested any access yet.</p>
  <% end %>
</div>
