<h1>Authorisations</h1>

<h2>Your requests</h2>
<% if @authorisations.any? %>
	<table class="table">
		<%= render partial: 'authorisations/authorisation', collection: @authorisations %>
	</table>
<% end %>

<h2>Ask for new access from other users</h2>
<ul class="list-unstyled">
	<%= render partial: 'authorisations/user', collection: @users %>
</ul>

<h2>Grant access</h2>
<%= link_to 'See requests from others', authorisation_grant_path, class: 'btn pop' %>