<div class="row">
  <div class="col-sm-9"><h1>Email access you requested</h1></div>
  <div class="col-sm-3"><%= link_to 'Ask new access', authorisation_request_path, class: 'btn pop pull-right', style: 'margin-top:28px' %></div>
</div>

<% if @authorisations.any? %>
	<table class="table">
    <tr>
      <th>From</th>
      <th>About</th>
      <th>State</th>
      <th>Action</th>
    </tr>
		<%= render partial: 'authorisations/authorisation', collection: @authorisations %>
	</table>
<% else %>
  <p>You haven't requested any access yet.</p>
<% end %>