<h1><%= @authorisation.scope %></h1>
<div class="container">
  <div class="row timeline table-header">
      <div class="col-md-1">Date</div>
      <div class="col-md-1">Type</div>
      <div class="col-md-3">People</div>
      <div class="col-md-3">Subject</div>
      <div class="col-md-1">Type</div>
      <div class="col-md-3">Attachment</div>
  </div>
</div>
<div>
<% if @threads.any? %>
	<%= render partial: 'authorisations/thread', collection: @threads %>
	<%= will_paginate @threads %>
<% end %>
</div>
