<div class="container">
  <div class="row centered">
    <h1><%= @authorisation.scope %></h1>
  </div>
  <div class="row timeline-header table-header">
      <div class="col-md-2">Date</div>
      <div class="col-md-3">People</div>
      <div class="col-md-3">Subject</div>
      <div class="col-md-4">Attachment</div>
  </div>
  <div>
  <% if @threads.any? %>
  	<%= render partial: 'authorisations/thread', collection: @threads %>
  	<%= will_paginate @threads %>
  <% end %>
  </div>
</div>
