<nav class="navbar navbar-default" id="site-footer">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <li>
          <p class="navbar-text navbar-right">Logged in as <%= current_user.first_name %> <%= current_user.last_name %>
          (<%= current_user.email %>)</p>
        </li>
      <% else %>
        <li>
          <p class="navbar-text navbar-right">- Passiton helps team share context</p>
      <% end %>
    </ul>
  </div>
</nav>
